 .App {
  text-align: center;
}
 * {
  box-sizing: border-box;
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
  color:rgb(122, 62, 190)
}

.app {
  margin: 0 auto;
  max-width: 1200px;
}

.segment {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgba(42, 102, 180, 0.5);
  /* background-image: url("https://cdn1.matadornetwork.com/blogs/1/2021/03/Philadelphia-at-night-1200x854.jpg"); */
}

 .cards {
  list-style: none;
  border-radius: 5px;
  padding: 10px;
} 

 .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
} 

 .card img {
  width: 100%;
} 

 /* .video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
} */

 /* .video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
} */

 @media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  } 

   .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
} 

 @media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
} 