:root {
  --green: rgb(42, 80, 42);
}

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: "Playfair Display", serif;
  color: black
}

h2 {
  margin-bottom: 1rem;
  color:rgb(61, 61, 218)
}

.table {
  text-align: center;
}

.concert-button {
  padding: 10px 24px;
  font-family: inherit;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s
}

button.primary {
  background-color: var(--green);
  color: white;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
}

header h1 {
  font-size: 4 em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}

.logo {
  font-size: 1.25em;
  padding-left: 0.5rem;
}

main {
  padding: 0 1rem;
}

.segment {
  padding: 2rem 1rem;
  margin: 2rem 0;
  /* background-color: rgba(42, 102, 180, 0.5); */
  background-image: url("https://images.fineartamerica.com/images-medium-large-5/-philadelphia-skyline-at-night-evening-panorama-jon-holiday.jpg");
}

.form {
  display: flex;
  justify-content: center;
}

.inline-fields {
  width: 25% !important;
  margin-right: 0.25em!important;
  margin-left: 0.25em!important;
}

/* .concert-button {
  width: 150px;
  background-color: #008CBA;
} */

.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  display: block;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid rgb(25, 54, 180);
  transition: all 0.2s;
  width: 100%;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
}

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}