.App {
  text-align: center;
  background: rgb(58,176,180);
  background: linear-gradient(90deg, rgba(58,176,180,1) 0%, rgba(162,29,253,1) 50%, rgba(58,176,180,1) 100%);
}

* {
  box-sizing: border-box;
  text-align: center;
}

h1 {
font-family: Impact, Charcoal, sans-serif;
font-size: 40px;
letter-spacing: 2px;
word-spacing: 10px;
color: #FFFFFF;
font-weight: normal;
font-style: normal;
font-variant: normal;
text-transform: none;
}

h2 {
  margin-bottom: 1rem;
  color:rgb(122, 62, 190)
}

h3 {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 25px;
  letter-spacing: 4px;
  word-spacing: 10px;
  color: #FFFFFF;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  }

.app {
  margin: 0 auto;
  max-width: 1200px;
}

.segment {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/full-moon-philly-panorama-frozen-in-time-fine-art-photography.jpg");
}

.cards {
  list-style: none;
  border-radius: 5px;
  background-color: white;
  color:rgb(122, 62, 190)
}

.card {
  margin: 1rem;
  border-radius: 5px;
}

.home-button {
  border-radius: 12px;
  padding: 6px 24px;
  transition-duration: 0.4s;
}

.home-button:hover {
  background-color: #3ab0b4; /* Green */
  color: white;
}

.add-a-concert {
  border-radius: 12px;
  padding: 6px 24px;
  transition-duration: 0.4s;
}

.add-a-concert:hover {
  background-color: #3ab0b4; /* Green */
  color: white;
}

.video-button {
  border-radius: 12px;
  padding: 6px 24px;
  transition-duration: 0.4s;
}

.video-button:hover {
  background-color: #3ab0b4; /* Green */
  color: white;
}

.artist-input {
    width: 25%;
    border: 3px solid #00b4cc;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #030303;
}

.image-input {
  width: 25%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #030303;
}

.venue-input {
  width: 25%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #030303;
}

.date-input {
  width: 25%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #030303;
}

.cost-input {
  width: 25%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #030303;
}

.concert-button {
  border-radius: 12px;
  padding: 6px 24px;
  transition-duration: 0.4s;
}

.concert-button:hover {
  background-color: #3ab0b4; /* Green */
  color: white;
}

 /* .videos {
  width: 25%;
}  */

/* .card button {
  margin-top: 0.5rem;
} */

/* .home-button {
  background-color: white;
  color: black;
  border: 2px solid #1e66be;
  border-radius: 4px;
} */

/* .add-a-concert {
  background-color: white;
  color: black;
  border: 2px solid #1e66be;
  border-radius: 4px;
} */

/* .video-button {
  background-color: white;
  color: black;
  border: 2px solid #1e66be;
  border-radius: 4px;
} */

/* .video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
} */

/* .video-responsive iframe {
  left: 0;
  top: 0;
  height: 50%;
  width: %;
  position: absolute;
} */

/* @media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  } 

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

 @media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
} */